 .u-section-1 {
  background-image: url("images/189bcc4c-66b6-43f0-8643-a48a53f94dd0.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  width: 861px;
  animation-duration: 3500ms;
  margin: 130px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  width: 576px;
  margin: 30px auto 0;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  line-height: 1.8;
  width: 589px;
  margin: 15px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 55px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 239px;
  height: 239px;
  background-image: url("images/08b64859-e38c-4dd2-9b24-17538959927f.jpg");
  background-position: 50% 34.58%;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-1 .u-text-5 {
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-1 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  letter-spacing: 3px;
  font-size: 0.875rem;
  border-style: none;
  text-transform: uppercase;
  margin: 20px auto 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-1 .u-text-8 {
  line-height: 2.2;
  margin: 20px 0 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 24px;
  min-height: 16px;
  width: 91px;
  min-width: 68px;
  margin: 30px auto 0 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-1 .u-image-1 {
    background-position: 50% 50%;
    width: 222px;
    height: 222px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 330px;
  }

  .u-section-1 .u-social-icons-1 {
    width: 92px;
    margin-left: -1px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 879px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-1 .u-image-1 {
    width: 156px;
    height: 156px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 16px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1075px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 569px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 864px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 358px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 80px;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 2107px;
}

.u-section-3 .u-text-1 {
  animation-duration: 1000ms;
  font-size: 4.0625rem;
  font-family: Roboto, sans-serif;
  text-transform: none;
  width: 681px;
  letter-spacing: 4px;
  margin: 15px auto 0;
}

.u-section-3 .u-line-1 {
  width: 849px;
  transform-origin: left center;
  margin: 35px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 35px 328px 0 137px;
}

.u-section-3 .u-list-1 {
  width: 867px;
  margin: 14px auto 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 630px;
  grid-gap: 0px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 18px 627px 0 1px;
}

.u-section-3 .u-text-4 {
  font-size: 1rem;
  margin: 16px 632px 0 0;
}

.u-section-3 .u-group-1 {
  width: 598px;
  min-height: 299px;
  margin: -92px 1px -248px auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 29px 21px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 0 1px;
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  margin: 20px 1px 0;
}

.u-section-3 .u-btn-1 {
  font-size: 1.125rem;
  border-style: none;
  margin: 9px auto 0 0;
  padding: 0 2px 0 1px;
}

.u-section-3 .u-icon-1 {
  width: 18px;
  height: 24px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  margin: 18px 627px 0 1px;
}

.u-section-3 .u-text-8 {
  font-size: 1rem;
  margin: 16px 632px 0 0;
}

.u-section-3 .u-group-2 {
  width: 598px;
  min-height: 299px;
  margin: -92px 1px -248px auto;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 29px 21px;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  margin: 0 1px;
}

.u-section-3 .u-text-10 {
  font-size: 1.25rem;
  margin: 20px 1px 0;
}

.u-section-3 .u-btn-2 {
  font-size: 1.125rem;
  border-style: none;
  margin: 9px auto 0 0;
  padding: 0 2px 0 1px;
}

.u-section-3 .u-icon-2 {
  color: rgb(71, 138, 201) !important;
  width: 18px;
  height: 24px;
}

.u-section-3 .u-line-2 {
  width: 849px;
  transform-origin: left center;
  margin: 0 auto;
}

.u-section-3 .u-text-11 {
  margin: 35px 328px 0 137px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1054px;
  margin: 14px auto 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 527px;
}

.u-section-3 .u-container-layout-5 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 430px;
  height: 477px;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 282px;
}

.u-section-3 .u-container-layout-6 {
  padding: 20px 30px;
}

.u-section-3 .u-text-12 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-3 .u-text-13 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 282px;
}

.u-section-3 .u-container-layout-7 {
  padding: 0;
}

.u-section-3 .u-image-2 {
  height: 253px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-image-3 {
  min-height: 238px;
  background-image: url("images/3fdf1b2b-bedc-4af9-bcff-dcd5f54922c0.jpg");
  background-position: 59.55% 80.06%;
  background-size: auto 110%;
}

.u-section-3 .u-container-layout-8 {
  padding: 20px;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 238px;
}

.u-section-3 .u-container-layout-9 {
  padding: 20px 30px;
}

.u-section-3 .u-text-14 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-15 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 30px auto 0 0;
  padding: 0;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 241px;
}

.u-section-3 .u-container-layout-10 {
  padding: 0 20px;
}

.u-section-3 .u-image-4 {
  width: 198px;
  left: auto;
  right: 0;
}

.u-section-3 .u-layout-cell-7 {
  min-height: 241px;
}

.u-section-3 .u-container-layout-11 {
  padding: 20px 23px;
}

.u-section-3 .u-text-16 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 7px;
}

.u-section-3 .u-text-17 {
  margin: 20px 0 0 7px;
}

.u-section-3 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 30px auto 0 7px;
  padding: 0;
}

.u-section-3 .u-layout-cell-8 {
  min-height: 242px;
}

.u-section-3 .u-container-layout-12 {
  padding: 20px 30px;
}

.u-section-3 .u-text-18 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-19 {
  margin: 20px 0 0;
}

.u-section-3 .u-image-5 {
  min-height: 235px;
  background-image: url("images/26638a2b-46d3-48d6-b457-e9f3f6cadc2b.jpg");
  background-position: 28.47% 49.74%;
  background-size: 120%;
}

.u-section-3 .u-container-layout-13 {
  padding: 20px;
}

.u-section-3 .u-image-6 {
  min-height: 476px;
  background-image: url("images/a11b8efc-a60c-4ce0-8174-5848a84bc8cc.png");
  background-position: 55.01% 50%;
}

.u-section-3 .u-container-layout-14 {
  padding: 20px 60px 20px 59px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1829px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 228px;
    margin-left: 37px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-icon-1 {
    color: rgb(71, 138, 201) !important;
  }

  .u-section-3 .u-text-11 {
    margin-right: 228px;
    margin-left: 37px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 471px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 258px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 259px;
  }

  .u-section-3 .u-image-2 {
    height: 226px;
  }

  .u-section-3 .u-image-3 {
    min-height: 212px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 212px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 221px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 221px;
  }

  .u-section-3 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-17 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 209px;
  }

  .u-section-3 .u-image-5 {
    min-height: 209px;
  }

  .u-section-3 .u-image-6 {
    min-height: 430px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3450px;
  }

  .u-section-3 .u-line-1 {
    width: 720px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 45px;
    margin-left: 0;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 481px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 485px;
  }

  .u-section-3 .u-group-1 {
    width: 449px;
    min-height: 352px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 481px;
    margin-left: 0;
  }

  .u-section-3 .u-text-8 {
    margin-right: 485px;
  }

  .u-section-3 .u-line-2 {
    width: 720px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 45px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 722px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 397px;
  }

  .u-section-3 .u-image-2 {
    height: 346px;
  }

  .u-section-3 .u-image-3 {
    min-height: 325px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 339px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-3 .u-image-5 {
    min-height: 320px;
  }

  .u-section-3 .u-image-6 {
    min-height: 659px;
  }

  .u-section-3 .u-container-layout-14 {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 4143px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
    width: 540px;
  }

  .u-section-3 .u-line-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 0;
    margin-right: 301px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 305px;
  }

  .u-section-3 .u-group-1 {
    width: 520px;
    min-height: 301px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 301px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 305px;
  }

  .u-section-3 .u-group-2 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-3 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-line-2 {
    width: 540px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 542px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 596px;
  }

  .u-section-3 .u-image-2 {
    height: 519px;
  }

  .u-section-3 .u-image-3 {
    min-height: 488px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 509px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-5 {
    min-height: 480px;
  }

  .u-section-3 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-6 {
    min-height: 494px;
  }

  .u-section-3 .u-container-layout-14 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3137px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
    width: 340px;
  }

  .u-section-3 .u-line-1 {
    width: 340px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 101px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 105px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    margin-right: 105px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 101px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 105px;
  }

  .u-section-3 .u-group-2 {
    width: 340px;
  }

  .u-section-3 .u-line-2 {
    width: 340px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 341px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 377px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 375px;
  }

  .u-section-3 .u-image-2 {
    height: 327px;
  }

  .u-section-3 .u-image-3 {
    min-height: 307px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 320px;
  }

  .u-section-3 .u-image-5 {
    min-height: 302px;
  }

  .u-section-3 .u-image-6 {
    min-height: 311px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1897px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 80px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 144px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-4 .u-text-1 {
  animation-duration: 1000ms;
  font-size: 4.0625rem;
  font-family: Roboto, sans-serif;
  text-transform: none;
  letter-spacing: 4px;
  width: 613px;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 636px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  object-position: 0% 100%;
  height: 236px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-2 {
  margin-top: 30px;
  margin-bottom: 0px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 636px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  height: 236px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 0% 10.82%;
}

.u-section-4 .u-text-4 {
  margin-top: 30px;
  margin-bottom: 0px;
}

.u-section-4 .u-layout-cell-4 {
  background-position: 0% 0%;
  min-height: 636px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  height: 236px;
  object-position: 50% 22.25%;
  margin: 0 auto;
}

.u-section-4 .u-text-6 {
  margin-top: 30px;
  margin-bottom: 0px;
}


.u-section-4 .u-layout-cell-5 {
  background-position: 0% 0%;
  min-height: 638px;
  background-image: none;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-image-4 {
  height: 236px;
  margin: 0 auto;
}

.u-section-4 .u-text-8 {
  margin: 30px 20px 0;
}

.u-section-4 .u-text-9 {
  margin: 20px 20px 0;
}

.u-section-4 .u-layout-cell-6 {
  background-position: 0% 0%;
  min-height: 638px;
  background-image: none;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-image-5 {
  height: 236px;
  margin: 1px 0 0;
}

.u-section-4 .u-text-10 {
  margin: 30px 20px 0;
}

.u-section-4 .u-text-11 {
  margin: 20px 20px 0;
}

.u-section-4 .u-layout-cell-7 {
  min-height: 638px;
  background-image: none;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px;
}

.u-section-4 .u-image-6 {
  height: 236px;
  margin: 0 auto;
}

.u-section-4 .u-text-12 {
  margin: 20px 20px 0;
}

.u-section-4 .u-text-13 {
  margin: 20px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1012px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    background-position: 0% 0%;
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    height: 187px;
  }

  .u-section-4 .u-text-2 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    position: relative;
    font-style: normal;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-3 {
    background-position: 0% 0%;
    min-height: 100px;
  }

  .u-section-4 .u-image-2 {
    height: 187px;
  }

  .u-section-4 .u-text-4 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 524px;
  }

  .u-section-4 .u-image-3 {
    height: 195px;
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-4 .u-image-4 {
    height: 195px;
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-8 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-9 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-4 .u-image-5 {
    height: 195px;
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-10 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-11 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-4 .u-image-6 {
    height: 195px;
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-12 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-13 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 775px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-1 {
    height: 133px;
  }

  .u-section-4 .u-image-2 {
    height: 133px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-image-3 {
    height: 149px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-7 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-image-4 {
    height: 149px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-8 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-9 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-image-5 {
    height: 149px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-10 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-11 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-image-6 {
    height: 149px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-12 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-13 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
    width: 520px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 384px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    height: 384px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    height: 335px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-7 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-4 {
    height: 335px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-8 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-9 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-5 {
    height: 335px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-10 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-11 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-6 {
    height: 335px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-12 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-13 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 3rem;
    width: 320px;
  }

  .u-section-4 .u-image-1 {
    height: 236px;
  }

  .u-section-4 .u-image-2 {
    height: 236px;
  }

  .u-section-4 .u-image-3 {
    height: 211px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-7 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-image-4 {
    height: 211px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-8 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-9 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-image-5 {
    height: 211px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-10 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-11 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-image-6 {
    height: 211px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-12 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-13 {
    margin-left: 6px;
    margin-right: 6px;
  }
}

.project-title{
margin-top: 30px;
margin-bottom: 0px;
}

.project-text{
  margin-left: 0px;
  margin-right: 5px;
}

.exp-text{
  margin-bottom: 7px;
}

.figma{
  color:#fc7464;
}

.er-diagram, .db-diagram{
  color:#2A338C;
}

.code{
  color:#2A338C;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #FFFFFF;
}

.container:hover .overlay {
  opacity: 1;
}

#bodyclock{
  background-color: #2b2853;
}

.l-text{
  font-style: italic;
}

.text {
  font-family: 'Open Sans',sans-serif;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.light-text{
  color: white;
}

.dark-text{
  color: black;
}

#blackimg{
  background-color: black;
}

#swarming{
  background-color: #f5c396;
}

#festival{
  background-color: #f5c396;
}

.pro{
color:#c064fc;
}

.break{
  margin-top: 40px;
}

.alife{
  color: #16b9a6;
}

.robots{
  background-color: #8ba3c6;
}

.paper{
  font-style: italic;
}

.evodevo{
  color: #0FB3D1;
}

.chloro{
  color: #638CBD;
}
