@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --vertical-space: 2rem;
    --horizontal-space: 3rem;

    --light-color: #F0B7A4;
    --body-color: #000000;
    --heading-color: #305F72;
    --contrast-color: #F18C8E;
}

@font-face {
    font-family: MyFont;
    src: url(815a980c8a014b26f5d0ff7407d7de17.woff) format('woff')
}

nav {
    font-weight: 500;
    /*font-family: MyFont, sans-serif;*/
}

body {
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    color: var(--body-color);
    background-color: #f0f0f0;
    background-image: url("https://www.transparenttextures.com/patterns/axiom-pattern.png");
}

main {
    background-color: white;
}

h1,
h2,
h3 {
    line-height: 1.2;
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 700;
    color: (var(--heading-color))
}


a {
    color: var(--body-color);
    text-decoration-color: var(--light-color);
}

a:hover {
    color: var(--contrast-color);
}

h2,
h3 {
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 500;
}

body#about img {
    height: 15em;
    display: inline;
    margin-right: var(--horizontal-space);
}

p {
    max-width: 60em;
}

body {
    display: grid;
    grid-template-areas: "head head"
        "nav nav"
        "main main"
        "foot foot";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto auto 1fr auto;

}

body>nav ul {
    list-style-type: none;
    padding: 0;
}

body>nav ul li {
    display: inline-block;
}

body>* {
    padding-left: var(--horizontal-space);
    padding-right: var(--horizontal-space);
    padding-bottom: var(--vertical-space);
}

body>header {
    grid-area: head;
}

body>nav {
    grid-area: nav;
}


body>main {
    grid-area: main;
}

body>footer {
    grid-area: foot;

}

header,
footer {
    padding-top: var(--vertical-space);
    padding-bottom: var(--vertical-space);
}

header h1,
footer h1 {
    margin: 0;
}

header {
    padding-bottom: 0;
}

body#portfolio ul #portText{
    margin-left: -1em;
}

body#portfolio ul#portfolioItems {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    list-style-type: none;
    padding: 0;
}

#portImg {
    max-width: 100%;
    float: center;
    padding: 0px; 
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: justify;
}

nav{
    padding-bottom: 1rem;
}

nav ul, #name {
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    text-align: center;
   }

#navLi{
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}
   
#reveal1 {
    opacity: 0;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
            -ms-transform: scale(0.9);
             -o-transform: scale(0.9);
             transform: scale(0.9);
             -webkit-transition: all 1s ease-in-out;
         -moz-transition: all 1s ease-in-out;
         -ms-transition: all 1s ease-in-out;
             -o-transition: all 1s ease-in-out;
             transition: all 1s ease-in-out;
}
#reveal1.visible {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

@media screen and (min-width: 640px) {
    
    body#portfolio ul#portfolioItems li{
        flex-basis: 48%;
        padding-right: 2%;
        max-width: 100%;
    }

    body#portfolio ul#portfolioItems li img{
        max-width: 100%;
    }

    body#about img {
        float: left;
        margin-bottom: var(--vertical-space);
    }
}

@media screen and (min-width: 769px) {
    #name{
        text-align: left;
        padding-bottom: 2rem;
    }
    
    body {
        display: grid;
        grid-template-areas: "head head"
            "nav main"
            "foot foot";
        grid-template-columns: auto 4fr;
        grid-template-rows: auto auto 1fr auto;

    }

    body>nav ul {
        list-style-type: none;
        padding: 0;
    }

    body>nav ul li {
        display: block;
    }

    header h1{
        padding-bottom: 1em;
    }

    body#portfolio ul#portfolioItems li img{
        max-height: 280px;
        max-width: 100%;
        flex-basis: 48%;
    }
}
